*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
projectFilesBackup/

# Internal keys
# app/src/main/res/values/com_crashlytics_export_strings.xml
app/fabric.properties
app/keys/release
